.qvt-sheet {
    background: rgba(247,247,247,1) !important;
}

.qv-object *:not(i):not(.lui-icon) {
    font-family: 'montserrat' !important;
}

.qv-object:not(.qv-object-filterpane) .qv-inner-object{
    padding: 5px !important;
    border: 1px solid #e4e8ea !important;
    border-radius: 10px !important;
    background: rgba(255,255,255,0.9) !important;
}

.qvt-sheet.qv-custom-size #grid{
  background-color: rgba(0,0,0,0) !important;
}


.sheet-title-text {
    font-family: 'montserrat' !important;
    color: #344656 !important;
    font-size: 30px !important;
}

.qvt-sheet {
    background: #fff url(bg.png) !important;
    background-repeat: no-repeat !important;
    background-position: right -60px bottom 0px !important;
}


.sel-toolbar-cancel{
  background-color: #efefef !important;
  border: 1px solid #afafaf !important;
  color: #333 !important;
}

.sel-toolbar-confirm{
  background-color: #5ca2df !important;
  border: 1px solid #fff !important;
  color: #efefef !important;
}

.sel-toolbar-cancel:hover{
  color:#fff !important;
  background-color: #ec963e !important ;
}

.sel-toolbar-confirm:hover  {
  color:#fff !important
}



.serverSelected,.serverLocked, .selected {
  background-color: #5ca2df !important;
  border-bottom-color:  #efefef !important
}

.qvLocked  {
  color: #344656 !important;
}
